<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Angular 4 Forms - Bennett Notes</title>
  <meta property="og:title" content="Angular 4 Forms" />
  <meta name="twitter:title" content="Angular 4 Forms" />
  <meta name="description" content="One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can create a basic angular 4 form (also works with angular 2, and angular 5).
HTML You will also notice that I am using Bootstrap for some styling, that is completely optional. Let&#8217;s look at the form HTML:">
  <meta property="og:description" content="One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can create a basic angular 4 form (also works with angular 2, and angular 5).
HTML You will also notice that I am using Bootstrap for some styling, that is completely optional. Let&#8217;s look at the form HTML:">
  <meta name="twitter:description" content="One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can …">
  <meta name="author" content="Dave Bennett"/><script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Bennett Notes",
    
    "url": "https://www.bennettnotes.com"
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "url": "https://www.bennettnotes.com"
  
  
  
  
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://www.bennettnotes.com",
          "name": "home"
        }
    },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://www.bennettnotes.com/angular-4-forms/",
          "name": "Angular 4 forms"
        }
    }]
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "author": {
    "name" : "dave"
  },
  "headline": "Angular 4 Forms",
  "description" : "One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&amp;#8217;s how you can create a basic angular 4 form (also works with angular 2, and angular 5).
HTML You will also notice that I am using Bootstrap for some styling, that is completely optional. Let&amp;#8217;s look at the form HTML:",
  "inLanguage" : "en",
  "wordCount": 560,
  "datePublished" : "2018-01-13T15:12:40",
  "dateModified" : "2018-01-13T15:12:40",
  "image" : "https://www.bennettnotes.com/img/avatar-icon.png",
  "keywords" : [ "angular 4, forms" ],
  "mainEntityOfPage" : "https://www.bennettnotes.com/angular-4-forms/",
  "publisher" : {
    "@type": "Organization",
    "name" : "https://www.bennettnotes.com",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "https://www.bennettnotes.com/img/avatar-icon.png",
        "height" :  60 ,
        "width" :  60
    }
  }
}
</script>

<meta property="og:title" content="Angular 4 Forms" />
<meta property="og:description" content="One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can create a basic angular 4 form (also works with angular 2, and angular 5).
HTML You will also notice that I am using Bootstrap for some styling, that is completely optional. Let&#8217;s look at the form HTML:">
<meta property="og:image" content="https://www.bennettnotes.com/img/avatar-icon.png" />
<meta property="og:url" content="https://www.bennettnotes.com/angular-4-forms/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Bennett Notes" />
  <meta name="twitter:title" content="Angular 4 Forms" />
  <meta name="twitter:description" content="One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can …">
  <meta name="twitter:image" content="https://www.bennettnotes.com/img/avatar-icon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@_davebennett" />
  <meta name="twitter:creator" content="@_davebennett" />
  <link href='https://www.bennettnotes.com/img/favicon.ico' rel='icon' type='image/x-icon'/>
  <meta property="og:image" content="https://www.bennettnotes.com/img/avatar-icon.png" />
  <meta name="twitter:image" content="https://www.bennettnotes.com/img/avatar-icon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@_davebennett" />
  <meta name="twitter:creator" content="@_davebennett" />
  <meta property="og:url" content="https://www.bennettnotes.com/angular-4-forms/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Bennett Notes" />

  <meta name="generator" content="Hugo 0.54.0" />
  <link rel="alternate" href="https://www.bennettnotes.com/index.xml" type="application/rss+xml" title="Bennett Notes">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

  
  
  
  
  
  
  




<link rel="stylesheet"
      href="https://www.bennettnotes.com/bundle.min.css"
      integrity="">


<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-41393353-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>


  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.bennettnotes.com">Bennett Notes</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        
          
            <li>
              <a title="Programming" href="/categories/programming">Programming</a>
            </li>
          
        
          
            <li class="navlinks-container">
              <a class="navlinks-parent">Technology</a>
              <div class="navlinks-children">
                
                  <a href="/categories/android">Android</a>
                
                  <a href="/categories/chrome-os">Chrome OS</a>
                
                  <a href="/categories/gadgets">Gadgets</a>
                
                  <a href="/categories/linux">Linux</a>
                
                  <a href="/categories/windows">Windows</a>
                
              </div>
            </li>
          
        
          
            <li>
              <a title="Life" href="/categories/life">Life</a>
            </li>
          
        
          
            <li>
              <a title="Search" href="/page/search/">Search</a>
            </li>
          
        

        

        
      </ul>
    </div>

    
      <div class="avatar-container">
        <div class="avatar-img-border">
          <a title="Bennett Notes" href="https://www.bennettnotes.com">
            <img class="avatar-img" src="https://www.bennettnotes.com/img/avatar-icon.png" alt="Bennett Notes" />
          </a>
        </div>
      </div>
    

  </div>
</nav>




    


  
  
  






  

  <header class="header-section ">
    
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
              
                <h1>Angular 4 Forms</h1>
              
              
              
              
                <span class="post-meta">
  
  
Posted on January 13, 2018
  
  
    &nbsp;|  &nbsp; 3&nbsp;minutes
  
  
  
    &nbsp;|&nbsp;dave
  
  
</span>


              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


    
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
            
            <img src="/wp-content/uploads/2018/01/angular-forms.jpg" class="thumbnail img-responsive">
            <hr>
            
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6594501022141871"
                data-ad-slot="6223025728"
                data-ad-format="link"></ins>
            <hr>
            
        

<p>One of my favorite features in Angular are forms. Using Angular 4 forms or Angular 5 forms are very helpful because they provide for quick validation and object mapping. Here&#8217;s how you can create a basic angular 4 form (also works with angular 2, and angular 5).</p>

<h2 id="html">HTML</h2>

<p>You will also notice that I am using Bootstrap for some styling, that is completely optional. Let&#8217;s look at the form HTML:</p>

<pre>&lt;form #myForm="ngForm" #form class=" animated fadeIn"&gt;
 &lt;div class="form-group"&gt;
 &lt;label for="exampleInputEmail1"&gt;First Name&lt;/label&gt;
 &lt;input type="email" class="form-control" aria-describedby="emailHelp" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel" required &gt;
 &lt;!-- &lt;small id="emailHelp" class="form-text text-muted"&gt;We'll never share your email with anyone else.&lt;/small&gt; --&gt;
 &lt;div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger"&gt;
 &lt;div [hidden]="!firstName.errors.required"&gt;
 Field is required!
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="form-group"&gt;
 &lt;label for="exampleInputPassword1"&gt;Last Name&lt;/label&gt;
 &lt;input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="student.lastName" required&gt;
 &lt;div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger"&gt;
 &lt;div [hidden]="!lastName.errors.required"&gt;
 Field is required!
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;button type="submit" (click)="addStudent()" [disabled]="!myForm.valid" class="btn btn-success text-right"&gt;Add New Student&lt;/button&gt;
 &lt;/form&gt;</pre>

<p>I know it looks like a hot mess, but it&#8217;s not that difficult to understand. To begin with, my form element has the line <strong>#myForm=&#8221;ngForm&#8221;</strong>. This is necessary to add if you want to use the validators in the component. You will also notice that I provided a name for the form using <strong>#form</strong>. This is not necessary, but I do it because I like to call the form&#8217;s reset function from the component. In order to do that, I need direct access to the HTML element, so I use that line so that I can set it up as a viewChild. It sounds complicated but it&#8217;s really only one line of code.</p>

<p>Now let&#8217;s talk about the inputs. Each input needs to have its <strong>name attribute define</strong>. Also, you need to specify a model using <strong>#someName = &#8220;ngModel&#8221;</strong>. You can look up in the angular docs as to why it is that way, but just know you need that. Also, I am using the line <strong>[(ngModel)]=&#8221;student.firstName&#8221; </strong>to put a two-way bind on the student object and the form input.</p>

<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6594501022141871"
     data-ad-slot="6999463098"></ins>


<p>Now here&#8217;s the cool thing, you can add required and regex validators. I only used required in this form. You will notice that underneath each input element I have a div that shows up only if the input doesn&#8217;t meet the regex requirements or was not filled in. There is this thing called touched or dirty. Essentially, touch is if the user has entered the field. Dirty is if the field is invalid and pretty much the same thing for error.</p>

<p>Finally, the submit button only becomes valid when the form is completely valid. Simple right?</p>

<h2 id="component">Component</h2>

<p>There&#8217;s really not much to do with the component. So I will show you the relevant parts:</p>

<pre>export class AppComponent implements OnInit {
@ViewChild('myForm') myForm:any;
title = 'app';
student: Student;
studentArray: Student[];
constructor(private toasterService: ToasterService){

this.student = new Student();
this.studentArray = [];

}

ngOnInit(){
let exampleStudent = new Student();
exampleStudent.firstName = "Sarah";
exampleStudent.lastName = "Bucket";
exampleStudent.bust = 27;
exampleStudent.waist = 25;
exampleStudent.hips = 28;
exampleStudent.inseam = 20;
exampleStudent.girth = 43;
this.calculateSize(exampleStudent);
this.studentArray.push(exampleStudent);

}

addStudent(){
this.calculateSize(this.student);
this.studentArray.push(this.student);
this.student = new Student();
this.toasterService.pop('success','Added','New Student Added');
this.myForm.reset();
}</pre>

<p>Essentially, I create a new student object. You will also notice the viewChild stuff I mentioned earlier. This is so I can call the <strong>form.reset() </strong>functionality which will reset the form (and reset all dirty/touched parameters for all the inputs).</p>

<p>&nbsp;</p>


        
          <div class="blog-tags">
            
              <a href="https://www.bennettnotes.com/tags/angular-4/">angular 4</a>&nbsp;
            
              <a href="https://www.bennettnotes.com/tags/forms/">forms</a>&nbsp;
            
          </div>
        

        
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                

<div class="share-box" aria-hidden="true">
    <ul class="share">
      
      <li>
        <a href="//twitter.com/share?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f&amp;text=Angular%204%20Forms&amp;via=_davebennett" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//plus.google.com/share?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f" target="_blank" title="Share on Google Plus">
          <i class="fab fa-google-plus"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.facebook.com/sharer/sharer.php?u=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//reddit.com/submit?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f&amp;title=Angular%204%20Forms" target="_blank" title="Share on Reddit">
          <i class="fab fa-reddit"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.linkedin.com/shareArticle?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f&amp;title=Angular%204%20Forms" target="_blank" title="Share on LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.stumbleupon.com/submit?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f&amp;title=Angular%204%20Forms" target="_blank" title="Share on StumbleUpon">
          <i class="fab fa-stumbleupon"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.pinterest.com/pin/create/button/?url=https%3a%2f%2fwww.bennettnotes.com%2fangular-4-forms%2f&amp;description=Angular%204%20Forms" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </div>
  
              </div>
            </section>
        

        
          
          
          <h4 class="see-also">See also</h4>
          <ul>
          
            <li><a href="/angular-4-forms-2/">Angular 4 Forms</a></li>
          
            <li><a href="/subscribe-to-variable-change-in-angular-4-service/">Subscribe to variable change in Angular 4 Service</a></li>
          
          </ul>
          
        
      </article>

      
        <ul class="pager blog-pager">
          
            <li class="previous">
              <a href="https://www.bennettnotes.com/android-recyclerview-for-installed-apps-with-checkbox/" data-toggle="tooltip" data-placement="top" title="Android Recyclerview for Installed Apps with Checkbox">&larr; Previous Post</a>
            </li>
          
          
            <li class="next">
              <a href="https://www.bennettnotes.com/angular-4-forms-2/" data-toggle="tooltip" data-placement="top" title="Angular 4 Forms">Next Post &rarr;</a>
            </li>
          
        </ul>
      


      
        
          
          <div class="disqus-comments">                  
            <button id="show-comments" class="btn btn-default" type="button">Show <span class="disqus-comment-count" data-disqus-url="https://www.bennettnotes.com/angular-4-forms">comments</span></button>
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function () {
              this.page.url = 'https:\/\/www.bennettnotes.com\/angular-4-forms';
            };

          </script>
          </div>
          
        
        
      

    </div>
  </div>
</div>

    <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          
              <li>
                <a href="mailto:dave@bennettnotes.com" title="Email me">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://github.com/DaveBben" title="GitHub">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/_davebennett" title="Twitter">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/DaveBben" title="Instagram">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/opensourcegangster" title="Youtube">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          
          <li>
            
            <a href="https://www.bennettnotes.com/index.xml" title="RSS">
            
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
        </ul>
        <p class="credits copyright text-muted">
          
            
              <a href="bennettnotes.com">Dave Bennett</a>
            
          

          &nbsp;&bull;&nbsp;&copy;
          
            2019
          

          
            &nbsp;&bull;&nbsp;
            <a href="https://www.bennettnotes.com">Bennett Notes</a>
          
        </p>
        
        <p class="credits theme-by text-muted">
          Theme by adapted to <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a>
          
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>






<script type="text/javascript">
$(function(){
  $('#show-comments').on('click', function(){
    var disqus_shortname = 'https-bennettnotes-com';
      
    (function() {
      var disqus = document.createElement('script'); 
      disqus.type = 'text/javascript'; 
      disqus.async = true;
      disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
    })();
      
    $(this).hide(); 
    });
  });
      
</script>
<script id="dsq-count-scr" src="//https-bennettnotes-com.disqus.com/count.js" async></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.5/lunr.min.js"
  integrity="sha256-uScRgGrInD2VnPNpjmlQtB2XRVLczyyZvrTkYi+e31U="
  crossorigin="anonymous"
></script>
<script
  async
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>







<script
    src="https://www.bennettnotes.com/bundle.min.js"
    integrity=""></script>




  </body>
</html>

